workflows/Progres-2-Telegram-AI.json
{
  "name": "progress-2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "d7598752-16be-428a-9d40-a66dee057b69",
      "name": "Telegram Trigger",
      "webhookId": "363cb079-c003-4392-80da-72b2bf1486fb",
      "credentials": {
        "telegramApi": {
          "id": "52YRCPfHBb0kld4l",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.content.parts[0].text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        0
      ],
      "id": "d8c80f16-260c-4816-b7aa-0f351931e37f",
      "name": "Send a text message",
      "webhookId": "75139f1b-b514-449b-9cc1-ebb69ff2e3b1",
      "credentials": {
        "telegramApi": {
          "id": "52YRCPfHBb0kld4l",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "98b3d450-32bf-47a6-85fc-c6a8d39f0b40",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "SM7N88EQV6XHbFYL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c27010a6-e578-43a9-a5c5-759c855d1c6e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e3017cc8b233b41930cd364566b3a02d060049a218f025ca2ca92b97ff5f775"
  },
  "id": "2BQ9ZO6Na8k2YCGn",
  "tags": []
}